.resource-audio {
    padding: 1em;
}

.audio {
    width: 80%;
    margin-left: 10%;
    display: inline-block;    
}
 
.resource-title {
    font-size: 1.5em;
    font-weight: bold;
}

.resource-artist {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}